.header-wrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}


.chat-body {
    background-image: url("C:/Users/Administrator/Desktop/kakao-clone/chatBg.png");
    min-height: 100vh;
}

.chat-body {
 padding: 10px 0px;
 padding-top: 100px;
 min-height: 1000vh;
}

.chat__write--container {
    position: fixed;

    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@keyframes setanimation{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.send-message {
    animation: setanimation 0.5s ease-out forwards;
}

.chat__write {
    margin: 0 auto;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    font-size: 14px;
    padding:20px 50px;
    border: none;
    transition: width .5s ease-in-out, border-radius .5s ease-in-out,
    transform 0.5s ease-in-out ;
}

.chat__icon-left{
    position: absolute;
    left: 10px;
}

.chat__icon-right{
    position: absolute;
    right: 10px;
}
.chat__write-column input:focus{
    outline: none;
}


.chat__write i {
    font-size: 22px;
}


.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat__write:focus {
    outline: none;
    width: 80%;
    transform: translateY(-100px);
    border-radius: 40px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.chat__icon{
    font-size: 18px;
    transition: opacity .3s ease-in-out;
}

.chat__write:focus ~ .chat__icon{
    opacity: 0;
}

.chat .chat__message{
    border: 1px solid #f7f7f7;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.chat__message .chat__timestamp{
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 12px;
}


.incoming-message{
    align-self: flex-start;
    
}

.incoming-message img {
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
}

@keyframes setanimation2{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.incoming-message {
    animation: setanimation2 0.5s ease-out forwards;
}

.send-message {
    align-self: flex-end;
}

.message .message__bubble{
    background-color: white;
    border-radius: 20px;
    padding: 7px 20px;
}

.incoming-message .message__author{
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0%;
    background-image: linear-gradient(to right,#EFEFBB, #D4D3DD)
}

.send-message .message__bubble{
    border-bottom-right-radius: 0%;
    background-image: linear-gradient(to right,#EFEFBB, #D4D3DD)
}

